/*padding*/
.u-vertical-padding-lg {
  padding-top: 20rem;
  padding-bottom: 20rem; }

.u-vertical-padding-md {
  padding-top: 10rem;
  padding-bottom: 10rem; }

.u-vertical-padding-sm {
  padding-top: 0.5rem;
  padding-bottom: 0.5rem; }

/*text alignment*/
.u-center-text {
  text-align: center; }

/*margin*/
.u-mt-lg {
  margin-top: 15rem; }

.u-mt-md {
  margin-top: 10rem; }

.u-mt-sm {
  margin-top: 5rem; }

.u-mb-lg {
  margin-bottom: 15rem; }

.u-mb-md {
  margin-bottom: 10rem; }

.u-mb-sm {
  margin-bottom: 2rem; }

html {
  box-sizing: border-box;
  font-size: 62.5%; }
  @media only screen and (max-width: 75em) {
    html {
      font-size: 50%; } }

body {
  font-weight: 300;
  line-height: 1.6; }

.container {
  display: grid;
  grid-template-columns: [full-start] minmax(6rem, 1fr) [full-end];
  grid-template-areas: "header" "servicesSection" "journal" "gallery" "footer"; }

header {
  grid-area: header; }

.servicesSection {
  grid-area: servicesSection; }

footer {
  grid-area: footer; }

@media only screen and (max-width: 62.5em) {
  .container {
    grid-template-areas: "header" "servicesSection" "journal" "gallery" "footer"; }
  header {
    grid-area: header; }
  .servicesSection {
    grid-area: servicesSection; }
  footer {
    grid-area: footer; } }

@media only screen and (max-width: 50em) {
  .container {
    grid-template-areas: "header" "servicesSection" "journal" "gallery" "footer";
    grid-template-columns: repeat(auto-fit, minmax(25rem, 1fr)); }
  header {
    grid-area: header; }
  .servicesSection {
    grid-area: servicesSection; }
  footer {
    grid-area: footer; } }

@media only screen and (max-width: 37.5em) {
  .container {
    grid-template-areas: "header" "servicesSection" "journal" "gallery" "footer";
    grid-template-columns: repeat(auto-fit, minmax(25rem, 1fr)); }
  header {
    grid-area: header; }
  .servicesSection {
    grid-area: servicesSection; }
  footer {
    grid-area: footer; } }

@media only screen and (max-width: 26.8em) {
  .container {
    grid-template-areas: "header" "servicesSection" "journal" "gallery" "footer";
    grid-template-columns: repeat(auto-fit, minmax(25rem, 1fr)); }
  header {
    grid-area: header; }
  .servicesSection {
    grid-area: servicesSection; }
  footer {
    grid-area: footer; } }

.heading__primary {
  font-family: "Raleway", sans-serif;
  font-size: 4.5rem;
  font-weight: 700;
  margin-bottom: 5rem;
  text-transform: capitalize;
  display: inline-block;
  background-image: linear-gradient(to right, #1f306e, #f5487f);
  background-clip: text;
  -webkit-background-clip: text;
  -moz-background-clip: text;
  color: transparent;
  transition: all 100ms ease-in-out; }
  .heading__primary:hover {
    transform: rotate(-1deg) skew(15deg);
    text-shadow: 5px 6px 4px rgba(0, 0, 0, 0.5); }

.row {
  max-width: 114rem;
  margin: 0 auto;
  background-color: #777; }
  .row:not(:last-child) {
    margin-bottom: 47rem; }
    @media screen and (max-width: 50em) {
      .row:not(:last-child) {
        margin-bottom: 4rem; } }
  .row .row::after {
    clear: both;
    content: "";
    display: table; }
  .row [class^="col-"] {
    float: left; }
    .row [class^="col-"]:not(:last-child) {
      margin-right: 6rem; }
      @media screen and (max-width: 50em) {
        .row [class^="col-"]:not(:last-child) {
          margin-right: 0;
          margin-bottom: 4rem; } }
    @media screen and (max-width: 50em) {
      .row [class^="col-"] {
        width: 100% !important; } }
  @media screen and (max-width: 50em) {
    .row {
      width: 50rem; } }
  @media screen and (max-width: 37.5em) {
    .row {
      width: 35rem; } }
  .row .col-1-of-2 {
    width: calc((100% - 6rem) / 2); }
  .row .col-1-of-3 {
    width: calc((100% - 2 * 6rem) / 3); }
  .row .col-2-of-3 {
    width: calc( 2 * ((100% - 2 * 6rem) / 3) + 6rem); }
  .row .col-1-of-4 {
    width: calc((100% - 3 * 6rem) / 4); }
  .row .col-2-of-4 {
    width: calc( 2 * ((100% - 3 * 6rem) / 4)+6rem); }
  .row .col-3-of-4 {
    width: calc( 3 * ((100% - 3 * 6rem) / 4)+6rem); }

/* Navigation Bar */
nav {
  font-family: system-ui, -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, Oxygen, Ubuntu, Cantarell, "Open Sans", "Helvetica Neue", sans-serif;
  justify-content: space-between; }
  nav .navlink {
    list-style: none;
    display: flex;
    text-transform: uppercase;
    align-items: center;
    padding: 2rem 0;
    color: #8f3b76;
    font-size: 3.2rem;
    margin-left: 12rem;
    font-weight: 550; }
    @media screen and (max-width: 62.5em) {
      nav .navlink {
        font-size: 2.5rem; } }
    @media screen and (max-width: 50em) {
      nav .navlink {
        font-size: 2.1rem; } }
    @media screen and (max-width: 37.5em) {
      nav .navlink {
        margin-left: 3rem; } }
    nav .navlink li a {
      color: var(--color-primary);
      text-decoration: none; }
    nav .navlink .navlink li {
      flex-basis: 25%; }
    @media (max-width: 600px) {
      nav .navlink .navlink li {
        flex-basis: 50%; } }
    @media (max-width: 400px) {
      nav .navlink .navlink li {
        flex-basis: 100%; } }
    nav .navlink__logbutton {
      color: #ffffff;
      background-color: #c7417b;
      font-size: 2.5rem;
      padding: 8px 43px;
      border-radius: 82px;
      margin-left: 25rem; }
      @media screen and (max-width: 75em) {
        nav .navlink__logbutton {
          margin-left: 15rem; } }
      @media screen and (max-width: 62.5em) {
        nav .navlink__logbutton {
          margin-left: 2rem; } }
      @media screen and (max-width: 50em) {
        nav .navlink__logbutton {
          font-size: 2rem;
          padding: 4px 19px; }
          nav .navlink__logbutton a {
            font-size: 1.8rem;
            margin-left: 0rem; } }
      @media screen and (max-width: 37.5em) {
        nav .navlink__logbutton {
          display: none; } }
    nav .navlink :not(:last-child) {
      margin-right: 6rem; }
      @media screen and (max-width: 62.5em) {
        nav .navlink :not(:last-child) {
          font-size: 1.8rem; } }
      @media screen and (max-width: 37.5em) {
        nav .navlink :not(:last-child) {
          font-size: 1.5rem; } }
  nav :hover {
    cursor: pointer; }

/*@media only screen and (max-width: $bp-large) {
  grid-column: 1 / -1;
  grid-row: 1 / 2;
  justify-content: flex-end;
  align-items: center;
}

/*.nav-btn {
  border: none;
  border-radius: 0;

  background-color: #fff;
  height: 2px;
  width: 4.5rem;
  margin-top: 4rem;

  &::before,
  &::after {
    background-color: #fff;
    height: 2px;
    width: 4.5rem;
    content: "";
    display: block;
  }

  &::before {
    transform: translateY(-1.5rem);
  }
  &::after {
    transform: translateY(1.3rem);
  }

  @media only screen and (max-width: $bp-large) {
    margin-top: 0;
    margin-right: 4rem;
  }
}*/
/* Header Section */
.header-content {
  display: flex;
  flex-wrap: wrap;
  color: #1f306e; }
  .header-content .header__left {
    flex: 1;
    text-align: left;
    list-style: none;
    margin-top: 3rem; }
    .header-content .header__left--main {
      font-family: system-ui, -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, Oxygen, Ubuntu, Cantarell, "Open Sans", "Helvetica Neue", sans-serif;
      font-size: 4.6rem;
      line-height: 60px;
      font-weight: 501;
      text-transform: capitalize;
      margin-left: 12rem;
      margin-top: 9rem;
      margin-right: -17rem; }
      @media screen and (max-width: 62.5em) {
        .header-content .header__left--main {
          font-size: 4rem;
          padding-right: 14rem; } }
      @media screen and (max-width: 50em) {
        .header-content .header__left--main {
          padding-right: 9rem; } }
      @media screen and (max-width: 37.5em) {
        .header-content .header__left--main {
          margin: 0 auto;
          padding-right: 0rem;
          padding-left: 0rem;
          text-align: center;
          margin-top: 1rem; } }
      @media screen and (max-width: 26.8em) {
        .header-content .header__left--main {
          margin: 0 auto; } }
    .header-content .header__left--sub {
      font-family: "Raleway", sans-serif;
      font-size: 1.8rem;
      padding-top: 2.5rem;
      margin-left: 12rem;
      margin-right: 5rem;
      line-height: 2.9rem; }
      @media screen and (max-width: 62.5em) {
        .header-content .header__left--sub {
          margin-right: 2rem; } }
      @media screen and (max-width: 50em) {
        .header-content .header__left--sub {
          margin-right: 6rem;
          margin-top: 2rem; } }
      @media screen and (max-width: 37.5em) {
        .header-content .header__left--sub {
          margin-left: 35px;
          margin-right: 35px;
          text-align: center; } }
      @media screen and (max-width: 26.8em) {
        .header-content .header__left--sub {
          margin-right: 0rem; } }
    .header-content .header__left .downloadbutton {
      font-family: system-ui, -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, Oxygen, Ubuntu, Cantarell, "Open Sans", "Helvetica Neue", sans-serif;
      margin-top: 8rem; }
      .header-content .header__left .downloadbutton a {
        text-decoration: none;
        color: #ffffff;
        background-color: #1f306e;
        font-size: 1.8rem;
        padding: 21px 21px;
        border-radius: 12px;
        margin-left: 26rem;
        font-weight: 600;
        text-transform: capitalize;
        margin-left: 12rem; }
        .header-content .header__left .downloadbutton a i {
          font-size: 1.5rem;
          margin-left: 1rem; }
  .header-content .header__right {
    flex: 1;
    margin-right: -7rem;
    margin-top: -3rem; }
    @media screen and (max-width: 37.5em) {
      .header-content .header__right {
        margin-top: 2rem; } }
    .header-content .header__right ul {
      display: flex;
      align-items: center;
      list-style: none; }
    .header-content .header__right--pic1 {
      width: 30rem;
      margin-right: -13rem; }
      @media screen and (max-width: 37.5em) {
        .header-content .header__right--pic1 {
          width: 30rem; } }
      @media screen and (max-width: 26.8em) {
        .header-content .header__right--pic1 {
          margin-right: -14rem;
          margin-left: -5rem; } }
    .header-content .header__right--pic2 {
      width: 40rem; }
      @media screen and (max-width: 37.5em) {
        .header-content .header__right--pic2 {
          width: 30rem; } }

.services {
  font-family: system-ui, -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, Oxygen, Ubuntu, Cantarell, "Open Sans", "Helvetica Neue", sans-serif;
  text-align: left;
  background-color: #f9f9ff;
  border-radius: 1.5rem;
  box-shadow: 0.1rem 0.2rem 0.8rem rgba(0, 0, 0, 0.5);
  padding: 3.5rem 1rem 1.7rem 1rem;
  margin-right: 1rem;
  margin-left: 1rem; }
  .services__image--1 {
    display: block;
    margin: 0 auto;
    width: 200px; }
  .services__image--2 {
    display: block;
    margin: 0 auto;
    width: 180px; }
  .services__image--3 {
    display: block;
    margin: 0 auto;
    width: 190px; }
  .services__text--title {
    text-align: center;
    font-size: 2.8rem;
    font-weight: 600;
    margin: 0rem; }
  .services__text--paragraph {
    text-align: left;
    font-size: 1.8rem;
    font-weight: 500;
    color: #6d5d4b;
    line-height: 2.4rem;
    margin-top: 0.8rem;
    margin-bottom: 2.5rem;
    padding: 0 1.5rem; }

@media screen and (max-width: 50em) {
  .servicesgap {
    margin-bottom: 3rem; } }

footer {
  background-color: #3c4a80;
  padding: 6rem;
  padding-top: 10rem;
  padding-bottom: 15rem;
  font-family: system-ui, -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, Oxygen, Ubuntu, Cantarell, "Open Sans", "Helvetica Neue", sans-serif; }
  footer .footer {
    display: flex;
    justify-content: space-between; }
  footer .footerList {
    display: flex;
    list-style: none;
    align-items: center;
    color: #ffffff;
    font-size: 1.8rem;
    text-align: center;
    width: 80%;
    margin-left: 13rem;
    font-weight: 500;
    margin-bottom: 10px; }
    footer .footerList__1, footer .footerList__2, footer .footerList__3, footer .footerList__4 {
      text-align: left;
      text-transform: capitalize;
      display: block;
      list-style: none;
      margin-right: 32rem;
      line-height: 2rem;
      margin-left: -9rem; }
      @media only screen and (max-width: 50em) {
        footer .footerList__1, footer .footerList__2, footer .footerList__3, footer .footerList__4 {
          margin-right: 21rem;
          margin-left: -14rem; } }
      @media only screen and (max-width: 37.5em) {
        footer .footerList__1, footer .footerList__2, footer .footerList__3, footer .footerList__4 {
          margin-right: 23rem;
          margin-left: -18rem; } }
      @media only screen and (max-width: 26.8em) {
        footer .footerList__1, footer .footerList__2, footer .footerList__3, footer .footerList__4 {
          margin-right: 0rem;
          margin-left: 0rem;
          text-align: center; } }
      footer .footerList__1--1, footer .footerList__2--1, footer .footerList__3--1, footer .footerList__4--1 {
        padding-bottom: 0.1rem;
        font-weight: 600; }
    @media only screen and (max-width: 37.5em) {
      footer .footerList {
        font-size: 1.2rem; } }
    @media only screen and (max-width: 26.8em) {
      footer .footerList {
        margin-left: 0rem;
        justify-content: center;
        text-align: center;
        flex-direction: column; } }
  footer .footerEnd {
    display: flex;
    flex-wrap: wrap;
    align-items: center;
    justify-content: flex-start;
    margin-top: 8rem; }
    footer .footerEnd__Paragraph {
      color: #ffffff;
      margin-right: 10px;
      margin-left: 6rem;
      font-size: 1.6rem; }
    footer .footerEnd__Icon {
      list-style: none;
      color: #ffffff;
      font-size: 1.3rem;
      line-height: 0;
      display: -webkit-inline-box;
      display: flex;
      justify-content: space-between; }
      footer .footerEnd__Icon--1, footer .footerEnd__Icon--2, footer .footerEnd__Icon--3, footer .footerEnd__Icon--4 {
        background-color: #c7417b;
        width: 35px;
        height: 34px;
        border-radius: 50%;
        display: flex;
        align-items: center;
        justify-content: center;
        margin-right: 10px; }
    @media (max-width: 600px) {
      footer .footerEnd {
        flex-direction: column;
        align-items: center; } }

.gallery {
  display: grid;
  grid-column: full-start / full-end;
  grid-area: gallery;
  grid-template-columns: repeat(9, 1fr);
  grid-template-rows: repeat(11, 5vw);
  grid-gap: 1.5rem;
  padding: 2rem 10.5rem 7rem 10.5rem;
  background-color: #ebebeb; }
  .gallery h2 {
    grid-row: 1 / span 2;
    grid-column: 1 / -1;
    text-align: center;
    margin-bottom: -18rem; }
    @media only screen and (max-width: 50em) {
      .gallery h2 {
        font-size: 4rem; } }
    @media only screen and (max-width: 37.5em) {
      .gallery h2 {
        font-size: 2.6rem; } }
    @media only screen and (max-width: 26.8em) {
      .gallery h2 {
        font-size: 2.1rem; } }
  .gallery__item {
    padding: 0;
    margin: 0; }
    .gallery__item--1 {
      grid-row: 3 / span 5;
      grid-column: 1 / span 5;
      margin-right: 10rem;
      margin-left: -6rem; }
    .gallery__item--2 {
      grid-row: 3 / span 3;
      grid-column: 5 / span 2; }
    .gallery__item--3 {
      grid-row: 3 / span 3;
      grid-column: 7 / span 3; }
    .gallery__item--4 {
      grid-row: 8 / span 4;
      grid-column: 1 / span 2; }
    .gallery__item--5 {
      grid-row: 8 / span 4;
      grid-column: 3 / span 2; }
    .gallery__item--6 {
      grid-row: 6 / span 3;
      grid-column: 5 / span 2; }
    .gallery__item--7 {
      grid-row: 6 / span 3;
      grid-column: 7 / span 3; }
    .gallery__item--8 {
      grid-row: 11 / span 2;
      grid-column: 1 / span 2; }
    .gallery__item--9 {
      grid-row: 11 / span 2;
      grid-column: 3 / span 2; }
    .gallery__item--10 {
      grid-row: 9 / span 12;
      grid-column: 5 / span 5; }
  .gallery__img {
    height: 100%;
    width: 100%;
    object-fit: cover;
    display: block; }
    .gallery__img--1 {
      margin-left: -7rem; }

@media only screen and (max-width: 62.5em) {
  .gallery__img--1 {
    margin-left: 0rem; } }

@media only screen and (max-width: 50em) {
  .gallery__img--1 {
    margin-left: 3rem; } }

@media only screen and (max-width: 37.5em) {
  .gallery__img--1 {
    margin-left: 6rem; } }

@media only screen and (max-width: 26.8em) {
  .gallery__img--1 {
    margin-left: 6rem; } }

.journal {
  background-color: #1f306e;
  padding: 10rem 16rem;
  display: grid;
  grid-area: journal;
  grid-template-columns: repeat(auto-fit, minmax(25rem, 1fr));
  grid-template-rows: auto auto;
  font-family: "Raleway", sans-serif;
  font-size: 2.8rem;
  font-weight: 400;
  line-height: 19px;
  margin-top: 6rem; }
  .journal__content {
    color: #ffffff;
    margin-left: 0rem; }
    .journal__content--title {
      font-size: 2.8rem;
      font-weight: 600; }
    .journal__content--paragraph {
      font-size: 1.8rem;
      font-weight: 400;
      line-height: 2.8rem; }
    .journal__content--1 {
      grid-row: 1 / 2;
      grid-column: 1 / 2;
      margin-right: 8rem; }
    .journal__content--2 {
      grid-row: 1 / 2;
      grid-column: 2 / 3;
      margin-right: 6rem; }
    .journal__content--3 {
      grid-row: 1 / 2;
      grid-column: 3 / 4;
      margin-right: 4rem; }
    .journal__content--4 {
      grid-row: 2 / -1;
      grid-column: 1 / 2;
      margin-right: 7rem; }
    .journal__content--5 {
      grid-row: 2 / -1;
      grid-column: 2 / 3;
      margin-right: 8rem; }
    .journal__content--6 {
      grid-row: 2 / -1;
      grid-column: 3 / 4;
      margin-right: 6rem; }
    @media screen and (max-width: 62.5em) {
      .journal__content {
        grid-gap: 1rem; }
        .journal__content--1, .journal__content--2, .journal__content--3, .journal__content--4, .journal__content--5, .journal__content--6 {
          grid-column: auto;
          grid-row: auto;
          margin-right: 2rem; } }
    @media screen and (max-width: 50em) {
      .journal__content {
        grid-gap: 2rem; } }
    @media screen and (max-width: 37.5em) {
      .journal__content--list {
        padding-left: 0; }
      .journal__content--1, .journal__content--2, .journal__content--3, .journal__content--4, .journal__content--5, .journal__content--6 {
        margin-right: -6rem;
        margin-left: -6rem; } }
    @media screen and (max-width: 26.8em) {
      .journal__content--list {
        padding-right: 8rem;
        margin-left: -3rem; } }
