/*padding*/
.u-vertical-padding-lg {
  padding-top: 20rem;
  padding-bottom: 20rem; }

.u-vertical-padding-md {
  padding-top: 10rem;
  padding-bottom: 10rem; }

.u-vertical-padding-sm {
  padding-top: 0.8rem;
  padding-bottom: 0.8rem; }

/*text alignment*/
.u-center-text {
  text-align: center; }

/*margin*/
.u-mt-lg {
  margin-top: 15rem; }

.u-mt-md {
  margin-top: 10rem; }

.u-mt-sm {
  margin-top: 5rem; }

.u-mb-lg {
  margin-bottom: 15rem; }

.u-mb-md {
  margin-bottom: 10rem; }

.u-mb-sm {
  margin-bottom: 2rem; }

html {
  box-sizing: border-box;
  font-size: 62.5%; }
  @media only screen and (max-width: 75em) {
    html {
      font-size: 50%; } }

body {
  /*display: grid;
  grid-template-rows: auto 1fr auto;
  grid-template-areas:
    "nav"
    "main"
    "footer";
  min-height: 100vh;*/
  font-weight: 300;
  line-height: 1.6; }

.container {
  display: grid;
  grid-template-rows: 15rem 80vh min-content repeat(4, min-content);
  grid-template-columns: [full-start] minmax(6rem, 1fr) [center-start] repeat(7, [col-start] minmax(min-content, 14rem) [col-end]) [center-end] minmax(6rem, 1fr) [full-end]; }
  @media only screen and (max-width: 62.5em) {
    .container {
      grid-template-columns: [full-start] minmax(6rem, 1fr) [center-start] repeat(7, [col-start] minmax(min-content, 14rem) [col-end]) [center-end] minmax(6rem, 1fr) [full-end]; } }
  @media only screen and (max-width: 50em) {
    .container {
      grid-template-rows: 6rem calc(100vh - 6rem) min-content min-content repeat(4, min-content); } }

.heading__primary {
  font-family: "Raleway", sans-serif;
  font-size: 4.5rem;
  font-weight: 700;
  margin-bottom: 5rem;
  text-transform: capitalize;
  display: inline-block;
  background-image: linear-gradient(to right, #1f306e, #f5487f);
  background-clip: text;
  -webkit-background-clip: text;
  -moz-background-clip: text;
  color: transparent;
  transition: all 100ms ease-in-out; }
  .heading__primary:hover {
    transform: rotate(-1deg) skew(15deg);
    text-shadow: 5px 6px 4px rgba(0, 0, 0, 0.5); }

.heading-1 {
  font-size: 2rem;
  font-weight: 400; }

.row {
  max-width: 114rem;
  margin: 0 auto;
  background-color: #777; }
  .row:not(:last-child) {
    margin-bottom: 47rem; }
    @media screen and (max-width: 50em) {
      .row:not(:last-child) {
        margin-bottom: 4rem; } }
  .row .row::after {
    clear: both;
    content: "";
    display: table; }
  .row [class^="col-"] {
    float: left; }
    .row [class^="col-"]:not(:last-child) {
      margin-right: 6rem; }
      @media screen and (max-width: 50em) {
        .row [class^="col-"]:not(:last-child) {
          margin-right: 0;
          margin-bottom: 4rem; } }
    @media screen and (max-width: 50em) {
      .row [class^="col-"] {
        width: 100% !important; } }
  @media screen and (max-width: 50em) {
    .row {
      width: 50rem; } }
  @media screen and (max-width: 37.5em) {
    .row {
      width: 35rem; } }
  .row .col-1-of-2 {
    width: calc((100% - 6rem) / 2); }
  .row .col-1-of-3 {
    width: calc((100% - 2 * 6rem) / 3); }
  .row .col-2-of-3 {
    width: calc( 2 * ((100% - 2 * 6rem) / 3) + 6rem); }
  .row .col-1-of-4 {
    width: calc((100% - 3 * 6rem) / 4); }
  .row .col-2-of-4 {
    width: calc( 2 * ((100% - 3 * 6rem) / 4)+6rem); }
  .row .col-3-of-4 {
    width: calc( 3 * ((100% - 3 * 6rem) / 4)+6rem); }

/* Navigation Bar */
nav {
  font-family: system-ui, -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, Oxygen, Ubuntu, Cantarell, "Open Sans", "Helvetica Neue", sans-serif;
  justify-content: space-between; }
  nav .navlink {
    list-style: none;
    display: flex;
    text-transform: uppercase;
    align-items: center;
    padding: 2rem 0;
    color: #8f3b76;
    font-size: 3.2rem;
    margin-left: 12rem;
    font-weight: 550; }
    nav .navlink li a {
      color: var(--color-primary);
      text-decoration: none; }
    nav .navlink .logbutton {
      color: #ffffff;
      background-color: #c7417b;
      font-size: 2.5rem;
      padding: 8px 43px;
      border-radius: 82px;
      margin-left: 26rem; }
    nav .navlink :not(:last-child) {
      margin-right: 6rem; }
  nav :hover {
    cursor: pointer; }

/*@media only screen and (max-width: $bp-large) {
  grid-column: 1 / -1;
  grid-row: 1 / 2;
  justify-content: flex-end;
  align-items: center;
}

/*.nav-btn {
  border: none;
  border-radius: 0;

  background-color: #fff;
  height: 2px;
  width: 4.5rem;
  margin-top: 4rem;

  &::before,
  &::after {
    background-color: #fff;
    height: 2px;
    width: 4.5rem;
    content: "";
    display: block;
  }

  &::before {
    transform: translateY(-1.5rem);
  }
  &::after {
    transform: translateY(1.3rem);
  }

  @media only screen and (max-width: $bp-large) {
    margin-top: 0;
    margin-right: 4rem;
  }
}*/
/* Header Section */
.header-content {
  display: flex;
  color: #1f306e; }

.header__left {
  flex: 1;
  text-align: left;
  list-style: none;
  margin-top: 3rem; }
  .header__left--main {
    font-family: system-ui, -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, Oxygen, Ubuntu, Cantarell, "Open Sans", "Helvetica Neue", sans-serif;
    font-size: 4.6rem;
    line-height: 60px;
    font-weight: 501;
    text-transform: capitalize;
    margin-left: 12rem;
    margin-top: 9rem;
    margin-right: -17rem; }
    @media screen and (max-width: 37.5em) {
      .header__left--main {
        font-size: 9rem; } }
  .header__left--sub {
    font-family: "Raleway", sans-serif;
    font-size: 1.8rem;
    padding-top: 2.5rem;
    margin-left: 12rem;
    margin-right: 5rem;
    line-height: 2.9rem; }
  .header__left .downloadbutton {
    font-family: system-ui, -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, Oxygen, Ubuntu, Cantarell, "Open Sans", "Helvetica Neue", sans-serif;
    margin-top: 8rem; }
    .header__left .downloadbutton a {
      text-decoration: none;
      color: #ffffff;
      background-color: #1f306e;
      font-size: 1.8rem;
      padding: 21px 21px;
      border-radius: 12px;
      margin-left: 26rem;
      font-weight: 600;
      text-transform: capitalize;
      margin-left: 12rem; }
      .header__left .downloadbutton a i {
        font-size: 1.5rem;
        margin-left: 1rem; }

.header__right {
  flex: 1;
  margin-right: -7rem;
  margin-top: -3rem; }
  .header__right ul {
    display: flex;
    align-items: center;
    list-style: none; }
  .header__right--pic1 {
    width: 30rem;
    margin-right: -13rem; }
  .header__right--pic2 {
    width: 40rem; }

.header {
  /* grid-column: full-start / col-end 3;
  display: grid;
  grid-template-columns: minmax(min-content, max-content);
  align-content: center;
  justify-content: center;

  @media only screen and (max-width: $bp-medium) {
    grid-column: 1 / -1;
  }*/ }

.services {
  font-family: system-ui, -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, Oxygen, Ubuntu, Cantarell, "Open Sans", "Helvetica Neue", sans-serif;
  text-align: left;
  background-color: #f9f9ff;
  border-radius: 1.5rem;
  box-shadow: 0.1rem 0.2rem 0.8rem rgba(0, 0, 0, 0.5);
  padding: 3.5rem 1rem 1.7rem 1rem;
  margin-right: 1rem;
  margin-left: 1rem; }
  .services__image--1 {
    display: block;
    margin: 0 auto;
    width: 200px; }
  .services__image--2 {
    display: block;
    margin: 0 auto;
    width: 180px; }
  .services__image--3 {
    display: block;
    margin: 0 auto;
    width: 190px; }
  .services__text--title {
    text-align: center;
    font-size: 2.8rem;
    font-weight: 600;
    margin: 0rem; }
  .services__text--paragraph {
    text-align: left;
    font-size: 1.8rem;
    font-weight: 500;
    color: #6d5d4b;
    line-height: 2.4rem;
    margin-top: 0.8rem;
    margin-bottom: 2.5rem;
    padding: 0 1.5rem; }

.discover {
  grid-column: center-start / center-end; }
  .discover__card {
    color: #1f306e;
    display: grid;
    grid-template-columns: 1fr 2fr;
    align-items: center;
    justify-items: center;
    padding: 5rem 0; }
    .discover__card:nth-of-type(odd) {
      direction: rtl; }
    .discover__card__img {
      text-align: center; }
      .discover__card__img img {
        height: 150px;
        width: 150px;
        border-radius: 100%;
        object-fit: cover; }
      .discover__card__img div {
        font-size: 2rem;
        padding-top: 2rem; }
    .discover__card__content {
      text-align: left;
      padding: 0 5rem; }
      .discover__card__content p {
        font-size: 1.6rem;
        font-weight: 300; }
  @media screen and (max-width: 50em) {
    .discover__card {
      grid-template-columns: repeat(auto-fit, minmax(25rem, 1fr)); }
      .discover__card__img div {
        padding: 3rem 0; }
      .discover__card__content {
        padding: 0 0.5rem; } }
  @media screen and (max-width: 37.5em) {
    .discover {
      grid-column: full-start / full-end; }
      .discover__card__content {
        text-align: center; } }

.footer {
  background-color: #1f306e;
  grid-column: full-start / full-end;
  padding: 8rem; }
  .footer__copyright {
    color: white;
    font-size: 1.5rem;
    margin: 0 auto;
    text-align: center;
    width: 80%;
    padding-top: 2.5rem; }
  @media only screen and (max-width: 37.5em) {
    .footer {
      padding: 3rem; } }

.nav {
  list-style: none;
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(15rem, 1fr));
  align-items: center; }
  .nav__link:link, .nav__link:visited {
    position: relative;
    font-size: 1.5rem;
    font-weight: 700;
    color: #ffffff;
    text-decoration: none;
    text-transform: capitalize;
    text-align: center;
    padding: 2.5rem;
    border-radius: 0.2rem; }
    .nav__link:link i, .nav__link:visited i {
      position: absolute;
      top: -3.3rem;
      left: 50%;
      font-size: 4rem;
      transform: translateX(-50%); }
  .nav__link:hover {
    background-color: rgba(255, 255, 255, 0.25); }
  @media only screen and (max-width: 50em) {
    .nav {
      grid-template-columns: repeat(auto-fit, minmax(25rem, 1fr));
      grid-auto-rows: 15vh;
      justify-content: center;
      text-align: center; }
      .nav__link:link, .nav__link:visited {
        font-size: 1.5rem;
        font-weight: 500;
        padding: 1.5rem;
        margin-top: 4rem; }
        .nav__link:link i, .nav__link:visited i {
          position: absolute;
          top: -3.3rem;
          left: 50%;
          font-size: 4rem;
          transform: translateX(-50%); } }

.gallery {
  grid-column: full-start / full-end;
  display: grid;
  grid-template-columns: repeat(8, 1fr);
  grid-template-rows: repeat(7, 5vw);
  grid-gap: 1.5rem;
  padding: 1.5rem; }
  .gallery__item {
    padding: 0;
    margin: 0; }
    .gallery__item--1 {
      grid-row: 1 / span 2;
      grid-column: 1 / span 2; }
    .gallery__item--2 {
      grid-row: 1 / span 3;
      grid-column: 3 / span 3; }
    .gallery__item--3 {
      grid-row: 1 / span 2;
      grid-column: 6 / 7; }
    .gallery__item--4 {
      grid-row: 1 / span 2;
      grid-column: 7 / -1; }
    .gallery__item--5 {
      grid-row: 3 / span 3;
      grid-column: 1 / span 2; }
    .gallery__item--6 {
      grid-row: 4 / span 2;
      grid-column: 3 / span 2; }
    .gallery__item--7 {
      grid-row: 4 / 5;
      grid-column: 5 / 6; }
    .gallery__item--8 {
      grid-row: 3 / span 2;
      grid-column: 6 / span 2; }
    .gallery__item--9 {
      grid-row: 3 / span 3;
      grid-column: 8 / -1; }
    .gallery__item--10 {
      grid-row: 6 / span 2;
      grid-column: 1 / 2; }
    .gallery__item--11 {
      grid-row: 6 / span 2;
      grid-column: 2 / span 2; }
    .gallery__item--12 {
      grid-row: 6 / span 2;
      grid-column: 4 / 5; }
    .gallery__item--13 {
      grid-row: 5 / span 3;
      grid-column: 5 / span 3; }
    .gallery__item--14 {
      grid-row: 6 / span 2;
      grid-column: 8 / -1; }
  .gallery__img {
    height: 100%;
    width: 100%;
    object-fit: cover;
    display: block; }

.journal {
  background-color: #1f306e;
  padding: 10rem 17rem;
  grid-column: full-start / full-end;
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(25rem, 1fr));
  grid-template-rows: auto auto;
  line-height: 19px;
  margin-top: -3rem; }
  .journal__content {
    color: #ffffff;
    margin-left: 0rem; }
    .journal__content--title {
      font-size: 1.7rem;
      font-weight: 600; }
    .journal__content--list {
      display: flex;
      list-style: none; }
    .journal__content--pic {
      width: 31px;
      margin-top: 2rem;
      margin-right: 2rem; }
    .journal__content--paragraph {
      font-size: 1.6rem;
      font-weight: 400; }
    .journal__content--1 {
      grid-row: 1 / 2;
      grid-column: 1 / 2;
      margin-right: 8rem; }
    .journal__content--2 {
      grid-row: 1 / 2;
      grid-column: 2 / 3;
      margin-right: 6rem; }
    .journal__content--3 {
      grid-row: 1 / 2;
      grid-column: 3 / 4;
      margin-right: 4rem; }
    .journal__content--4 {
      grid-row: 2 / -1;
      grid-column: 1 / 2;
      margin-right: 7rem; }
    .journal__content--5 {
      grid-row: 2 / -1;
      grid-column: 2 / 3;
      margin-right: 8rem; }
    .journal__content--6 {
      grid-row: 2 / -1;
      grid-column: 3 / 4;
      margin-right: 6rem; }
    @media screen and (max-width: 62.5em) {
      .journal__content {
        grid-gap: 1rem; }
        .journal__content--1, .journal__content--2, .journal__content--3, .journal__content--4, .journal__content--5, .journal__content--6 {
          grid-column: auto;
          grid-row: auto;
          margin-right: 2rem; } }
    @media screen and (max-width: 50em) {
      .journal__content {
        grid-gap: 2rem; } }
    @media screen and (max-width: 37.5em) {
      .journal__content--list {
        padding-left: 0; }
      .journal__content--1, .journal__content--2, .journal__content--3, .journal__content--4, .journal__content--5, .journal__content--6 {
        margin-right: -6rem;
        margin-left: -6rem; } }
    @media screen and (max-width: 26.8em) {
      .journal__content--list {
        padding-right: 8rem;
        margin-left: -3rem; } }

/*.introPicture {
   grid-column: col-start 4 / full-end;
  display: grid;
  grid-template-columns: minmax(min-content, max-content);
  align-content: center;
  &__list {
    display: flex;
    list-style: none;
    &--pic1 {
      background-size: cover;
      background-repeat: no-repeat;
    }
    &--pic2 {
      background-size: cover;
      background-repeat: no-repeat;
    }
  }

  @media only screen and (max-width: $bp-medium) {
    //grid-column: 1 / -1;
    //justify-content: center;
    display: none;
  }
}*/
.saledep-container {
  grid-column: full-start / full-end;
  color: #1f306e;
  padding: 10rem 5rem;
  text-align: center; }
  .saledep-container .saledep {
    margin-top: 10rem;
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(26rem, 1fr));
    grid-gap: 15rem 5rem; }
    .saledep-container .saledep .card-car {
      display: grid;
      justify-items: center;
      font-size: 1.2rem;
      padding: 0rem 3rem;
      box-shadow: 0 4px 4px 1px rgba(0, 0, 0, 0.4);
      border-radius: 0.7rem;
      grid-template-rows: 20vh auto 10vh;
      align-items: center; }
      .saledep-container .saledep .card-car__img {
        transform: translateY(-5rem);
        border-radius: 0.7rem;
        height: 100%;
        width: 80%; }
        @media screen and (max-width: 50em) {
          .saledep-container .saledep .card-car__img {
            width: 100%; } }
        @media screen and (max-width: 37.5em) {
          .saledep-container .saledep .card-car__img {
            width: 80%; } }
      .saledep-container .saledep .card-car__price {
        display: grid;
        grid-template-columns: repeat(2, max-content);
        grid-auto-rows: 3rem;
        align-items: center;
        text-align: left;
        justify-content: space-between;
        width: 100%;
        text-transform: capitalize;
        letter-spacing: 1px; }
        .saledep-container .saledep .card-car__price div:nth-of-type(even) {
          font-weight: 900;
          font-size: 1.4rem; }
      .saledep-container .saledep .card-car__btn a {
        background-color: #ff6f59;
        width: 50%;
        padding: 0.8rem 6rem;
        border-radius: 0.4rem;
        color: white;
        text-decoration: none;
        font-weight: 900; }
