@mixin clearfix {
  .row {
    &::after {
      clear: both;
      content: "";
      display: table;
    }
  }
}

// COLOR VARIABLES
$color-primary: #1f306e;
$color-primary-light: #f9f9ff;
$color-primary-dark: #ebebeb;

$color-secondary: #f5487f;
$color-red: #c7417b;
$color-red-dark: #8f3b76;
$color-purple-light: #69529f;
$color-purple-dark: #463864;

$color-grey-dark-1: #7b7063;
$color-grey-dark-2: #6d5d4b;

$color-black: #000000;
$color-white: #ffffff;

// FONT VARIABLES
$font-primary: system-ui, -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto,
  Oxygen, Ubuntu, Cantarell, "Open Sans", "Helvetica Neue", sans-serif;
$font-display: "Raleway", sans-serif;

/*padding*/
.u-vertical-padding-lg {
  padding-top: 20rem;
  padding-bottom: 20rem;
}

.u-vertical-padding-md {
  padding-top: 10rem;
  padding-bottom: 10rem;
}

.u-vertical-padding-sm {
  padding-top: 0.5rem;
  padding-bottom: 0.5rem;
}

/*text alignment*/
.u-center-text {
  text-align: center;
}

/*margin*/
.u-mt-lg {
  margin-top: 15rem;
}
.u-mt-md {
  margin-top: 10rem;
}
.u-mt-sm {
  margin-top: 5rem;
}

.u-mb-lg {
  margin-bottom: 15rem;
}
.u-mb-md {
  margin-bottom: 10rem;
}
.u-mb-sm {
  margin-bottom: 2rem;
}

//GRID
$grid-width: 114rem;
$vertical-gutter-small: 4rem;
$vertical-gutter: 8rem;
$horizontal-gutter: 6rem;

// RESPONSIVE BREAKPOINTS
$bp-largest: 75em; // 1200px
$bp-large: 62.5em; // 1000px
$bp-medium: 50em; // 800px;
$bp-small: 37.5em; // 600px;
$bp-smaller: 26.8em; // 430px;

html {
  box-sizing: border-box;
  font-size: 62.5%;

  @media only screen and (max-width: $bp-largest) {
    font-size: 50%;
  }
}

body {
  font-weight: 300;
  line-height: 1.6;
}

.container {
  display: grid;
  grid-template-areas:
    "header header header"
    "servicesSection servicesSection servicesSection"
    "journal journal journal"
    "gallery gallery gallery"
    "footer footer footer";
}

.header {
  grid-area: header;
}

.servicesSection {
  grid-area: servicesSection;
}
/*display: grid;
  grid-template-rows: 15rem 80vh min-content repeat(4, min-content);
  grid-template-columns:
    [full-start] minmax(6rem, 1fr)
    [center-start] repeat(7, [col-start] minmax(min-content, 14rem) [col-end])
    [center-end] minmax(6rem, 1fr) [full-end];

  @media only screen and (max-width: $bp-large) {
    grid-template-columns:
      [full-start] minmax(6rem, 1fr) [center-start] repeat(
        7,
        [col-start] minmax(min-content, 14rem) [col-end]
      )
      [center-end] minmax(6rem, 1fr) [full-end];
  }

  @media only screen and (max-width: $bp-medium) {
    grid-template-rows: 6rem calc(100vh - 6rem) min-content min-content repeat(
        4,
        min-content
      );
  }*/
