footer {
  background-color: $color-blue;
  padding: 6rem;
  padding-top: 10rem;
  padding-bottom: 15rem;
  font-family: $font-primary;

  .footer {
    display: flex;
    justify-content: space-between;

    @media only screen and (max-width: $bp-small) {
      //  padding: 3rem;
    }
  }

  .footerList {
    display: flex;
    list-style: none;
    align-items: center;
    color: $color-white;
    font-size: 1.8rem;
    text-align: center;
    width: 80%;
    margin-left: 13rem;
    font-weight: 500;
    margin-bottom: 10px;

    &__1,
    &__2,
    &__3,
    &__4 {
      text-align: left;
      text-transform: capitalize;
      display: block;
      list-style: none;
      margin-right: 32rem;
      line-height: 2rem;
      margin-left: -9rem;

      @media only screen and (max-width: $bp-medium) {
        margin-right: 21rem;
        margin-left: -14rem;
      }

      @media only screen and (max-width: $bp-small) {
        margin-right: 23rem;
        margin-left: -18rem;
      }

      @media only screen and (max-width: $bp-smaller) {
        margin-right: 0rem;
        margin-left: 0rem;
        text-align: center;
      }

      &--1 {
        padding-bottom: 0.1rem;
        font-weight: 600;
      }
    }

    @media only screen and (max-width: $bp-large) {
    }

    @media only screen and (max-width: $bp-medium) {
    }

    @media only screen and (max-width: $bp-small) {
      font-size: 1.2rem;
    }

    @media only screen and (max-width: $bp-smaller) {
      margin-left: 0rem;
      justify-content: center;
      text-align: center;
      flex-direction: column;
    }
  }

  .footerEnd {
    display: flex;
    flex-wrap: wrap;
    align-items: center;
    justify-content: flex-start;
    margin-top: 8rem;

    &__Paragraph {
      color: $color-white;
      margin-right: 10px;
      margin-left: 6rem;
      font-size: 1.6rem;
    }

    &__Icon {
      list-style: none;
      color: $color-white;
      font-size: 1.3rem;
      line-height: 0;
      // display: -webkit-inline-box;
      display: flex;
      justify-content: space-between;

      @media only screen and (max-width: $bp-large) {
      }

      @media only screen and (max-width: $bp-medium) {
      }

      @media only screen and (max-width: $bp-small) {
      }

      @media only screen and (max-width: $bp-smaller) {
      }

      &--1,
      &--2,
      &--3,
      &--4 {
        background-color: $color-red;
        width: 35px;
        height: 34px;
        border-radius: 50%;
        display: flex;
        align-items: center;
        justify-content: center;
        margin-right: 10px;
      }
    }

    @media (max-width: 600px) {
      flex-direction: column;
      align-items: center;

      &__Icon {
      }
    }
  }
}
