.footer {
  background-color: $color-blue;
  padding: 6rem;
  padding-top: 9rem;
  padding-bottom: 15rem;

  font-family: $font-display;

  @media only screen and (max-width: $bp-small) {
    padding: 3rem;
  }
}

.footerList {
  display: flex;
  list-style: none;
  align-items: center;
  color: $color-white;
  font-size: 1.8rem;
  margin: 0 auto;
  text-align: center;
  width: 80%;
  padding-top: 2.5rem;
  font-weight: 500;

  &__1,
  &__2,
  &__3,
  &__4 {
    text-align: left;
    text-transform: capitalize;
    display: block;
    list-style: none;
    margin-right: 32rem;
    line-height: 2rem;
    margin-left: -9rem;

    &--1 {
      padding-bottom: 0.1rem;
      font-weight: 600;
    }
  }

  @media only screen and (max-width: $bp-small) {
    margin-left: 0.5rem;
  }

  @media only screen and (max-width: $bp-smaller) {
    margin-left: -0.5rem;
  }

  @media only screen and (max-width: $bp-medium) {
    justify-content: center;
    text-align: center;
  }
}

.footerEnd {
  display: flex;
  flex-wrap: wrap;
  align-items: center;
  justify-content: flex-start;
  margin-top: 8rem;

  &__Paragraph {
    color: $color-white;
    margin-right: 10px;
    margin-left: 6rem;
    font-size: 1.6rem;
  }

  &__Icon {
    list-style: none;
    color: $color-white;
    font-size: 1.3rem;
    line-height: 0;
    display: -webkit-inline-box;

    &--1,
    &--2,
    &--3,
    &--4 {
      background-color: $color-secondary;
      border-radius: 50%;
      margin-right: 3rem;
    }
  }

  @media (max-width: 600px) {
    flex-direction: column;
    align-items: center;
  }
}
