.footer {
  background-color: $color-primary;
  grid-area: footer;
  padding: 6rem;
  padding-top: 9rem;
  padding-bottom: 15rem;
  margin-top: 11rem;

  @media only screen and (max-width: $bp-small) {
    padding: 3rem;
  }
}

.footerList {
  display: flex;
  list-style: none;
  align-items: center;
  color: $color-white;
  font-family: $font-display;
  font-size: 1.8rem;
  margin: 0 auto;
  text-align: center;
  width: 80%;
  padding-top: 2.5rem;
  font-weight: 500;

  &__1,
  &__2,
  &__3,
  &__4 {
    text-align: left;
    display: block;
    list-style: none;
    margin-right: 20rem;
    line-height: 2rem;

    &--1 {
      padding-bottom: 0.1rem;
      font-weight: 600;
    }
  }

  @media only screen and (max-width: $bp-small) {
    margin-left: 0.5rem;
  }

  @media only screen and (max-width: $bp-smaller) {
    margin-left: -0.5rem;
  }

  &__link:link,
  &__link:visited {
    position: relative;
    font-size: 1.5rem;
    // font-family: $font-display;
    font-weight: 700;
    color: $color-white;
    text-decoration: none;
    text-transform: capitalize;
    text-align: center;
    padding: 2.5rem;
    border-radius: 0.2rem;

    i {
      position: absolute;
      top: -3.3rem;
      left: 50%;
      font-size: 4rem;
      transform: translateX(-50%);
    }
  }

  &__link:hover {
    background-color: rgba($color-white, 0.25);
  }

  @media only screen and (max-width: $bp-medium) {
    grid-template-columns: repeat(auto-fit, minmax(25rem, 1fr));
    grid-auto-rows: 15vh;
    justify-content: center;
    text-align: center;

    &__link:link,
    &__link:visited {
      font-size: 1.5rem;
      font-weight: 500;
      padding: 1.5rem;
      margin-top: 4rem;
      i {
        position: absolute;
        top: -3.3rem;
        left: 50%;
        font-size: 4rem;
        transform: translateX(-50%);
      }
    }
  }
}
