/* Header Section */

.header-content {
  display: flex;
  flex-wrap: wrap;
  color: $color-primary;

  .header__left {
    flex: 1;
    text-align: left;
    list-style: none;
    margin-top: 3rem;

    &--main {
      font-family: $font-primary;
      font-size: 4.6rem;
      line-height: 60px;
      font-weight: 501;
      text-transform: capitalize;
      margin-left: 12rem;
      margin-top: 9rem;
      margin-right: -17rem;

      @media screen and (max-width: $bp-large) {
        font-size: 4rem;
        padding-right: 14rem;
      }

      @media screen and (max-width: $bp-medium) {
        padding-right: 9rem;
      }

      @media screen and (max-width: $bp-small) {
        margin: 0 auto;
        padding-right: 0rem;
        padding-left: 0rem;
        text-align: center;
        margin-top: 1rem;
      }

      @media screen and (max-width: $bp-smaller) {
        margin: 0 auto;
      }
    }

    &--sub {
      font-family: $font-display;
      font-size: 1.8rem;
      padding-top: 2.5rem;
      margin-left: 12rem;
      margin-right: 5rem;
      line-height: 2.9rem;

      @media screen and (max-width: $bp-large) {
        margin-right: 2rem;
      }

      @media screen and (max-width: $bp-medium) {
        margin-right: 6rem;
        margin-top: 2rem;
      }

      @media screen and (max-width: $bp-small) {
        margin-left: 35px;
        margin-right: 35px;
        text-align: center;
      }

      @media screen and (max-width: $bp-smaller) {
        margin-right: 0rem;
      }
    }

    .downloadbutton {
      font-family: $font-primary;
      margin-top: 8rem;
      a {
        text-decoration: none;
        color: $color-white;
        background-color: $color-primary;
        font-size: 1.8rem;
        padding: 21px 21px;
        border-radius: 12px;
        margin-left: 26rem;
        font-weight: 600;
        text-transform: capitalize;
        margin-left: 12rem;

        i {
          font-size: 1.5rem;
          margin-left: 1rem;
        }
      }
      @media screen and (max-width: $bp-small) {
      }
    }
  }

  .header__right {
    flex: 1;
    margin-right: -7rem;
    margin-top: -3rem;

    @media screen and (max-width: $bp-small) {
      margin-top: 2rem;
    }

    ul {
      display: flex;
      align-items: center;
      list-style: none;
    }

    &--pic1 {
      width: 30rem;
      margin-right: -13rem;

      @media screen and (max-width: $bp-small) {
        width: 30rem;
      }

      @media screen and (max-width: $bp-smaller) {
        margin-right: -14rem;
        margin-left: -5rem;
      }
    }

    &--pic2 {
      width: 40rem;

      @media screen and (max-width: $bp-small) {
        width: 30rem;
      }
    }
  }
}
