/*.introPicture {
   grid-column: col-start 4 / full-end;
  display: grid;
  grid-template-columns: minmax(min-content, max-content);
  align-content: center;
  &__list {
    display: flex;
    list-style: none;
    &--pic1 {
      background-size: cover;
      background-repeat: no-repeat;
    }
    &--pic2 {
      background-size: cover;
      background-repeat: no-repeat;
    }
  }

  @media only screen and (max-width: $bp-medium) {
    //grid-column: 1 / -1;
    //justify-content: center;
    display: none;
  }
}*/
