/* Navigation Bar */
nav {
  font-family: $font-primary;
  justify-content: space-between;

  .navlink {
    list-style: none;
    display: flex;
    text-transform: uppercase;
    align-items: center;
    padding: 2rem 0;
    color: $color-red-dark;
    font-size: 3.2rem;
    margin-left: 12rem;
    font-weight: 550;

    li a {
      color: var(--color-primary);
      text-decoration: none;
    }

    .logbutton {
      color: $color-white;
      background-color: $color-red;
      font-size: 2.5rem;
      padding: 8px 43px;
      border-radius: 82px;
      margin-left: 26rem;
    }

    :not(:last-child) {
      margin-right: 6rem;
    }
  }
  :hover {
    cursor: pointer;
  }
}

/*@media only screen and (max-width: $bp-large) {
  grid-column: 1 / -1;
  grid-row: 1 / 2;
  justify-content: flex-end;
  align-items: center;
}

/*.nav-btn {
  border: none;
  border-radius: 0;

  background-color: #fff;
  height: 2px;
  width: 4.5rem;
  margin-top: 4rem;

  &::before,
  &::after {
    background-color: #fff;
    height: 2px;
    width: 4.5rem;
    content: "";
    display: block;
  }

  &::before {
    transform: translateY(-1.5rem);
  }
  &::after {
    transform: translateY(1.3rem);
  }

  @media only screen and (max-width: $bp-large) {
    margin-top: 0;
    margin-right: 4rem;
  }
}*/
